<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for data science
* List libraries used for data science
* Demonstrate the use of markdown language in Jupyter Notebook
* Test simple python codes in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. dplyr
6. Lattice
7. ggplot2

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
* 2+2
* (4+2)*8
* 9//(4-1)

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This is a simple arithmetic
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hr = min/60
print(hr)

3.3333333333333335

## Author
Krunal